@import './reset.css';
@import './utils.css';

:root {
  /* --fg: #c3b1b1; */
  /* --bg: #ECF1FE; */
  --fg: #e0c5c5;
  --fg-alt: #cc9393;
  --bg: #ffffff;
  --title-font-size: 3.3rem;
  --main-v-pad: 1rem;
  --main-h-pad: 1.5rem;
  --cap-size: 5.5px;
}


html {
  width: 100%;
  height: 100%;
  background-color: var(--bg);
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  padding-bottom: 1rem;
  height: 100%;
}


.title {
  display: inline-block;
  font-family: "Bigilla";
  font-size: var(--title-font-size);
  padding: 0 .25rem;
  background-color: var(--bg);
  color: var(--fg-alt);
  z-index: 10; 
}

@media (min-width: 765px) {
  :root {
    --title-font-size: 4rem;
  }
}


.outline {
  border: 2px solid black;
  border-color: var(--fg);
  border-radius: 18px;
  padding: var(--main-v-pad) var(--main-h-pad);
}

.title + .outline {
  margin-top: calc(-1 * var(--title-font-size) / 2);
  padding-top: calc(var(--title-font-size) / 1.5);
}

.capped {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  position: relative;
}

.capper {
  position: absolute;
  display: inline-block;
  width: var(--cap-size);
  height: var(--cap-size);
  background-color: var(--fg);
  border-radius: 100%;
}

.capper--left {
  bottom: calc(-1 *var(--cap-size) / 2);
  left: calc(-1 * var(--cap-size) / 2);
}

.capper--right {
  bottom: calc(-1 *var(--cap-size) / 2);
  right: calc(-1 * var(--cap-size) / 2);
}
.capper--left-center {
  margin-left: -1px;
}
.capper--right-center {
  margin-right: -1px;
}


* {
  user-select: none;
  pointer-events: none;
  touch-action: manipulation;
}
canvas {
  width: 95%;
  height: auto;
  pointer-events: auto;
}

.source {
  display: none;
}

@font-face {
  font-family: "Bigilla";
  src: url("./Bigilla.otf");
  /* https://www.behance.net/gallery/93242287/BIGILLA-FREE-DISPLAY-SERIF-TYPEFACE */
}

.hide {
  visibility: hidden;
}
